*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background-color: rgb(46, 46, 46);
}

.header{
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgb(46, 46, 46);
    color: white;
    border-top: 0.10px solid rgb(92, 92, 92);
    border-bottom: 2.5px solid rgb(92, 92, 92);
}

.logo{
    height: 50px;
    width: 50px;
}

.title{
    font-size: 30px;
    margin-left: 25px;
}

.tab{
    margin-left: 50px;
}

.tab-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}

.tab-list-projet{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    height: 40px;
    width: 100px;
    border-radius: 5px;
}

.tab-list-projet:hover{
    background-color: rgb(71, 71, 71)
}

.tab-list-compte{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    height: 40px;
    width: 100px;
    border-radius: 5px;
}

.tab-list-compte:hover{
    background-color: rgb(71, 71, 71)
}